<h2>Bookmarks</h2>

<p>
<%@bookmarks.each do |bookmark|%> 
<p>
<a href="<%=bookmark.url%>">
<%=bookmark.title%></a>
</p>
<% end %></p>

<form action='/bookmarks_new' method='post' >
  <label for='new bookmark'>
    Please enter a title:
    <input type='text' name='title'>
    Please enter a url:
    <input type='text' name='url'>
  </label>
  <input type='submit' value='Submit'>
  </form>

    