<h2>Bookmarks</h2>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<form action='/bookmarks_new' method='post' >
  <label for='title'>
    Please enter a title:
  </label>
  <input type='text' name='title'>
  <label for='url'>
    Please enter a url:
  </label>
  <input type='text' name='url'>
  <input type='submit' value='Submit'>
  </form>

    